* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  text-decoration: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("login.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  overflow: hidden;
}

.wrap h1 {
  text-align: center;
}

.wrap {
  border-color: #fff;
  background-color: transparent;
  border-radius: 2rem;
  backdrop-filter: blur(10px);
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  box-shadow: 1px 2px 2px #957f51;
}

.wrap .kata {
  width: 100%;
  margin-top: 10px;
  position: relative;
}

.kata input {
  border-radius: 20px;
  background-color: transparent;
  border-color: aliceblue;
  width: 90%;
  height: 30px;
  color: white;
  padding: 10px;
  /* padding-left: 10px; */
}

.kata i {
  /* padding-right: 13px; */
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.mata {
  all: unset;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5px;
  /* border: 2px solid white;
  border-radius: 15px; */
}

.mata:hover {
  cursor: pointer;
}

.kata input::placeholder {
  color: #fff;
  padding: center;
}

.wrap h1 {
  color: #fff;
}

.lupa-password:hover {
  color: rgb(15, 216, 79);
}

.lupa-password {
  color: rgb(117, 255, 165);
}

.login button {
  width: 100%;
  height: 40px;
  margin-top: 15px;
  background-color: transparent;
  border-radius: 50px;
  border: black;
  background-color: aliceblue;
  border-color: aliceblue;
}
.login :hover {
  background-color: rgb(173, 183, 215);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.login a {
  font-size: 20px;
  color: rgb(10, 28, 5);
}

.forgot {
  text-align: center;
  margin-top: 20px;
}

.forgot a :hover {
  animation: ease-in;
  text-decoration: dashed;
  background-color: aquamarine;
}

.daftar {
  text-align: center;
  margin-top: 10px;
}

.daftar-di-sini {
  color: rgb(249, 98, 98);
}

.daftar-di-sini:hover {
  color: red;
}

.daftar a:link {
  color: rgb(78, 255, 255);
}

.daftar-di-sini:link {
  transform: scale(0.95);
}

/* From Uiverse.io by catraco */
/*------ Settings ------*/
.container {
  --color: #a5a5b0;
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.container .eye {
  position: absolute;
  animation: keyframes-fill 0.5s;
}

.container .eye-slash {
  position: absolute;
  animation: keyframes-fill 0.5s;
  display: none;
}

/* ------ On check event ------ */
.container input:checked ~ .eye {
  display: none;
}

.container input:checked ~ .eye-slash {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
  }
}

/* Animasi fade out */
/* .slide-out {
  animation: slideOut 0.5s ease forwards;
} */

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
