* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
  /* height: 100vh; */
/* overflow: hidden; */
/* } */

body {
  background-image: url("../../assets/img/sign-up.png");
  width: 100%;
  height: 100dvh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  display: flex;
  width: 470px;
  height: 622px;
  padding: 27px 42px;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  flex-shrink: 0;
  border-radius: 41px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(13.800000190734863px);
}

.card form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

form input {
  display: flex;
  height: 65px;
  padding: 19px 34px 18px 32px;
  justify-content: center;
  align-items: flex-start;
  gap: 308px;
  flex-shrink: 0;
  border-radius: 23px;
  background: #fff;
  width: 400px;
  border: none;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

/* .input input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
} */

.input input {
  color: rgba(0, 0, 0, 1);
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input button {
  height: 66px;
  align-self: stretch;
  border-radius: 20px;
  background: linear-gradient(0deg, #180d07 0%, #180d07 100%), #fff;
  color: #fff;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.card p {
  margin-top: -0.5rem;
  color: #ffffff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-link {
  transition: 0.2s ease-in-out;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.login-link:hover {
  color: rgb(240, 228, 203);
}
