html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  /* font-family: poppins, sans-serif; */
/* } */

.hero {
  background-color: antiquewhite;
  position: relative;
  /* height: 100vh; */
  /* width: 100%; */
}

.hero img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  filter: brightness(50%);
}

.hero-desc {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: -10px;
  flex-direction: column;
}

.nav-container {
  position: relative;
  top: 0;
  width: 100%;
  padding: 1.6rem 2.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-list {
  display: flex;
  align-items: center;
  /* width: 100%; */
  gap: 2.6rem;
  list-style-type: none;
}

.nav-list a {
  color: #000;
  font-size: 1.6rem;
  margin: 0 1rem;
  text-decoration: none;
  font-family: petrona, sans-serif;
}

#about-us {
  height: 120dvh;
  padding: 0 244px 0 82px;
}

.about-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.about-us-desc {
  color: #989898;
  font-family: Heebo;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  width: 631px;
  flex-direction: column;
  align-items: flex-start;
  gap: 34px;
}

.about-us-desc h2::after {
  width: 129px;
  margin-left: 58px;
  height: 1.6px;
  margin-bottom: 11px;
  background: #7cb48a;
  content: "";
  display: inline-block;
}

#detail {
  background-image: url("../assets/img/green-abstract-3d-3840x2160-21975.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
