* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(245, 245, 247);
  font-family: poppins, sans-serif;
}

.nav-container {
  position: relative;
  top: 0;
  width: 100%;
  padding: 1.6rem 2.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-list {
  display: flex;
  align-items: center;
  /* width: 100%; */
  gap: 2.6rem;
  list-style-type: none;
}

.nav-list a {
  color: #000;
  font-size: 1.6rem;
  margin: 0 1rem;
  text-decoration: none;
  font-family: petrona, sans-serif;
}

header {
  height: 100dvh;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}

.autentikasi {
  justify-content: center;
  display: flex;
  gap: 2rem;
}

.login {
  background-color: #000000;
  border: none;
  padding: 1.2rem 2.4rem;
  border-radius: 100px;
  font-size: 1.6rem;
  color: #000;
  cursor: pointer;
}

.register {
  background-color: #ffffff;
  border: none;
  padding: 1.2rem 2.4rem;
  border-radius: 100px;
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
  border: 3px solid #000000;
}

.hero {
  margin-top: 2.5rem;
  width: 100%;
  padding: 4rem 300px;
  display: flex;
  justify-content: space-between;
  gap: 6rem;
}

.hero img {
  background-position: center;
  background-size: cover;
  object-fit: cover;
  width: 70%;
  height: 50dvh;
}
