* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #483e37;
}

.hero {
  /* margin-top: 4rem; */
  top: 0;
  position: relative;
  height: 100dvh;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/img/cafe-user-black 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* max-height: 1080px; */
  width: 100%;
  /* filter: brightness(50%); */
  /* min-width: 100%; */
  flex-direction: column;
  max-height: 1080px;
  z-index: 1;
}

.hero h2 {
  color: #fff;
  text-align: center;
  font-family: Cormorant;
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: #483e37;
}

.hero h1 {
  color: #fff;
  text-align: center;
  font-family: Cormorant;
  font-size: 8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: #483e37;
}

.katalog {
  margin-top: 6rem;
  color: #fff;
  text-align: center;
  font-family: Heebo;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 600px) {
  .hero h1 {
    font-size: 6rem;
  }

  .hero h2 {
    font-size: 4rem;
  }
}
